textarea {
    width: 100%;
    border: 0;
    color: black;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.next_btn {
    align-items: center;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    background: var(--mainblue);
    color: var(--whiteFFF);
    transition: background 0.5s ease;
    cursor: pointer;
    width: fit-content;
}

input,
select {
    width: 100%;
    border: 0;
    color: black;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--lightgrey);
}