.profilePicture {
   object-fit: cover;
   border-radius: 100%;
   border: 2px solid var(--mainblue);
   padding: 3px;
   margin-top: 30px;
   height:180px;
   min-width: 170px;
   max-width: 170px;
}